.weather-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1em;
}

.css-b62m3t-container{
  width:55%;
  align-items:center;
  margin-top: 1em;
}


