.search-container{
margin: 1em;
}
.searchbar {
  height: 3em;
  width: 80%;
  max-width: 700px;
  background-color: bisque;
  display: flex;
  align-items: center;
  border-radius: 60px;
}

.searchbar input {
  background: transparent;
  flex: 1;
  border: 0;
  outline: none;
  padding: 24px 20px;
  font-size: 20px;
  color: #000000;
  margin: .5em;
}


::placeholder {
  color: #000000;
}
