.homeContainer {
  height: 80vh;
  background-color: #f7ebec;
}

.homeContainer li {
  position: absolute;
  display: block;
  list-style: none;
  width: 25px;
  height: 25px;
  background: rgba(221, 189, 213, 0.4);
  animation: animate 20s linear infinite;
  bottom: 0px;
  z-index: 2;
}

.homeContainer li:nth-child(1) {
  left: 86%;
  width: 80px;
  height: 80px;
  animation-delay: 0s;
}

.homeContainer li:nth-child(2) {
  left: 12%;
  width: 30px;
  height: 30px;
  animation-delay: 1.5s;
  animation-duration: 10s;
}

.homeContainer li:nth-child(3) {
  left: 40%;
  width: 100px;
  height: 100px;
  animation-delay: 5.5s;
}

.homeContainer li:nth-child(4) {
  left: 22%;
  width: 150px;
  height: 150px;
  animation-delay: 0s;
  animation-duration: 15s;
}

.homeContainer li:nth-child(5) {
  left: 55%;
  width: 40px;
  height: 40px;
  animation-delay: 0s;
}

.homeContainer li:nth-child(6) {
  left: 70%;
  width: 110px;
  height: 110px;
  animation-delay: 3.5s;
}

@keyframes animate {
  0% {
    transform: translateY(0) rotate(0deg);
    opacity: 1;
  }
  100% {
    transform: translateY(-800px) rotate(360deg);
    opacity: 0.25;
  }
}

.homeTitle {
  padding-top: 8vh;
  padding-bottom: 15px;
  /* color: #1d1e2c; */
  font-size: 100px;
  font-weight: 600;
  color: #fdfdfe;
  text-shadow: 0px 0px 5px #ddbdd5, 0px 0px 10px #ddbdd5, 0px 0px 10px #ddbdd5,
    0px 0px 20px #ddbdd5;
}

p {
  color: #1d1e2c;
  font-weight: 600;
}

p::selection,
.homeTitle::selection {
  background-color: #ddbdd5;
}

.homeBorder {
  width: 35%;
  margin: 0 auto;
  padding: 5%;
  border: 2px solid #414361;
  border-radius: 100px;
}
