.grid-container{
    width: 100%;
    display:grid;
    height: 93vh;
    grid-template-columns: .6fr 1.5fr;
    grid-template-rows: .25fr .25fr .5fr 1.5fr;
    grid-template-areas: "timer quote"
                         "side search"
                         "side main"
                         "side main";
}

.quote-widget{
background-color: red;
grid-area: quote;
max-width: 100%;
}
.search-bar{
    background-color: blue;
    grid-area: search;
}
.timer{
    background-color: green;
    grid-area: timer;
}
.side{
    background-color: yellow;
    grid-area: side;
}
.main{
    background-color: purple;
    grid-area: main;
}

.quote {
    max-width: 100%;
    margin: 0 auto;
    max-height: 100%;
  
  }


@media only screen and (max-width: 766px) {

    .grid-container{
        grid-template-columns: 1fr;
        grid-template-rows: 1fr .25fr .25 1fr 1fr;
        grid-template-areas: "quote"
                            "search"
                            "timer"
                            "side"
                            "main";
    }
}