:root{
    --main-color:#556dc8;
    --accent-color:#ffb845;
    --accent2-color:#556dc8;
    --accent3-color:#556dc8;
    --accent4-color:#556dc8;
    --trim-color:#674ab3;
    --light-color:#8549ad;
}

.grid-container{
    padding: 1em;
    gap: 1rem;
    width: 100%;
    display:grid;
    height: 90vh;
    grid-template-columns: .6fr 1.5fr;
    grid-template-rows: .25fr .25fr .5fr 2fr;
    grid-template-areas: "timer quote"
                         "side search"
                         "side main"
                         "side main";
}

.quote-widget{

background-color: var(--main-color);
grid-area: quote;
max-width: 100%;
border-radius: 10px;
}
.search-bar{
    background-color: var(--main-color);
    grid-area: search;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
}
.timer{
    background-color: var(--main-color);
    grid-area: timer;
    border-radius: 10px;
}
.side{
    background-color: var(--main-color);
    grid-area: side;
    border-radius: 10px;
}
.notes-main{
    background-color: var(--main-color);
    grid-area: main;
    overflow-y: auto;
    border-radius: 10px;
}

.quote {
    max-width: 100%;
    margin: 0 auto;
    max-height: 100%;
    border-radius: 10px;
}



@media only screen and (max-width: 766px) {

    .grid-container{
        grid-template-columns: 1fr;
        grid-template-rows: 1fr .25fr .25 1fr 5fr;
        grid-template-areas: "quote"
                            "search"
                            "timer"
                            "side"
                            "main"
                            "calendar";
    
    }

    .notes-main{
        overflow-y: visible;
    }
}