:root {
  --pomodoro-color: rgba(251, 121, 116, 0.6);
  --calc-color: rgba(255, 184, 69, 0.6);
  --searchbar-color: rgba(103, 74, 179, 0.6);
  --inspirationalQ-color: rgba(163, 72, 166, 0.4);
  --notes-color: rgba(206, 95, 159, 0.6);
  --weather-color: rgba(85, 109, 200, 0.6);
  --trim-color: rgba(103, 74, 179, 0.6);
  --calender-color: rgba(133, 73, 173, 0.6);
  --light-color: rgba(206, 95, 159, 0.6);
}

.grid-container,
.grid-container2,
.grid-container3,
.grid-container4,
.grid-container5,
.grid-container6,
.grid-container7 {
  padding: 1em;
  gap: 1rem;
  width: 100%;
  display: grid;
  height: 90vh;
  grid-template-columns: 0.5fr 0.5fr 0.5fr 0.5fr 0.5fr;
  grid-template-rows: 0.2fr 0.2fr 2fr;
  grid-template-areas:
    "quote quote quote quote quote"
    "side timer calender main main"
    "side weather search main main";
  background-size: cover;
  background-position: center;
  z-index: 3;
}

.grid-container {
  background-image: url(../../../img/Rain.gif);
}

.grid-container2 {
  background-image: url(../../../img/Sunset.jpg);
}

.grid-container3 {
  background-image: url(../../../img/After_Dark.gif);
}

.grid-container4 {
  background-image: url(../../../img/Disco.jpg);
}

.grid-container5 {
  background-image: url(../../../img/Forest.gif);
}

.grid-container6 {
  background-image: url(../../../img/YourName.png);
}

.grid-container7 {
  background-image: url(../../../img/Waterfall.gif);
}

/* Modal */
.modalBorder {
}

.modalTitle {
  margin: 0 auto;
}
.gadgetSetting {
  /* margin-top: 1em; */
  position: relative;
  padding: 1.2em;
  margin: 1em 1em 1em 0;
}

.modalButton {
  margin: 0.5em 
}

h4 {
  text-align: center;
}

.inBlock {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 1em 0;
}

/* Text Opacity
.textOpacity{
  opacity: 1;
} */

/* Quote */
.quote {
  max-width: 100%;
  margin: 0 auto;
  max-height: 100%;
  border-radius: 10px;
}
.quote:hover {
  opacity: 1;
}

.quote-widget {
  background-color: var(--inspirationalQ-color);
  grid-area: quote;
  max-width: 100%;
  border-radius: 10px;
}
.quote-widget:hover {
  opacity: 0.9;
}

.weather-gadget {
  grid-area: weather;
  background-color: var(--weather-color);
  max-height: 100%;
  border-radius: 10px;
}

.hide-weather {
  grid-area: weather;
  max-height: 100%;
  border-radius: 10px;
  display: none;
}

/* Google Search Bar */
.search-bar {
  background-color: var(--searchbar-color);
  grid-area: search;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.hideSearchBar {
  grid-area: search;
  border-radius: 10px;
  display: none;
}
.search-bar:hover {
  opacity: 0.9;
}

/* Pomodoro Timer */
.timer {
  background-color: var(--pomodoro-color);
  grid-area: timer;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.hideTimer {
  background-color: var(--pomodoro-color);
  grid-area: timer;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  display: none;
}
.timer:hover {
  opacity: 0.9;
}

.calender-gadget {
  grid-area: calender;
  background-color: var(--calender-color);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.calender-hide {
  grid-area: calender;
  background-color: var(--pomodoro-color);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: none;
}

.calender-img {
  margin: 1em;
  border-radius: 10px;
  height: 150px;
  opacity: 0.8;
}

.calender-img:hover {
  opacity: 1;
  cursor: pointer;
}

/* Weather + Calendar */
.side {
  background-color: var(--calc-color);
  grid-area: side;
  border-radius: 10px;
}
.hideSide {
  grid-area: side;
  border-radius: 10px;
  display: none;
}
.side:hover {
  opacity: 0.9;
}

/* Notes */
.notes-main {
  background-color: var(--notes-color);
  grid-area: main;
  overflow-y: auto;
  border-radius: 10px;
}
.hideNote {
  grid-area: main;
  border-radius: 10px;
  opacity: 0.7;
  display: none;
}
.notes-main:hover {
  opacity: 0.9;
}

@media only screen and (max-width: 766px) {
  .grid-container {
    /* background-image: url(../../../img/Rain.gif); */
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 0.25fr 0.25fr 0.25fr 1fr 5fr;
    grid-template-areas:
      "quote"
      "weather"
      "timer"
      "calender"
      "search"
      "side"
      "main";
  }

  .notes-main {
    overflow-y: visible;
  }
}
