.pomodoro-container{
  margin: 1em;
}

.timer-text{
    object-fit: contain;
    box-sizing: content-box;
    padding: 0;
    margin: 0;
}

.timer{
   
}


.form-container{

}
.timerForm {
    height: 3em;
    width: 75%;
    max-width: 700px;
    background-color: bisque;
    display: flex;
    align-items: center;
    border-radius: 60px;
  }

  
  .timerForm input {
    background: transparent;
    flex: 1;
    border: 0;
    outline: none;
    padding: 24px 20px;
    font-size: 20px;
    color: #000000;
    margin: 0.5em;
  }
  

.timerBtn {
  background-color: #B2C6FB;
  border-radius: 100px;
  box-shadow: rgba(143, 164, 220, 0.2) 0 -25px 18px -14px inset,
    rgba(143, 164, 220, 0.15) 0 1px 2px, rgba(143, 164, 220, 0.15) 0 2px 4px,
    rgba(143, 164, 220, 0.15) 0 4px 8px, rgba(143, 164, 220, 0.15) 0 8px 16px,
    rgba(143, 164, 220, 0.15) 0 16px 32px;
  color:  #7998ee;
  cursor: pointer;
  display: inline-block;
  font-family: CerebriSans-Regular, -apple-system, system-ui, Roboto, sans-serif;
  padding: 7px 20px;
  text-align: center;
  text-decoration: none;
  transition: all 250ms;
  border: 0;
  font-size: 16px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  font-weight: 600;
  }
  
  .timerBtn:hover {
    box-shadow: rgba(143, 164, 220, 0.35) 0 -25px 18px -14px inset,
      rgba(143, 164, 220, 0.25) 0 1px 2px, rgba(143, 164, 220, 0.25) 0 2px 4px,
      rgba(143, 164, 220, 0.25) 0 4px 8px, rgba(143, 164, 220, 0.25) 0 8px 16px,
      rgba(143, 164, 220, 0.25) 0 16px 32px;
    transform: scale(1.05);
  }
  
  